*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 950px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.App_todo{
    background-color: #e8e7e7;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.App_header h1{
    text-align: center;
    color: #fff;
    padding-left: 20px;
}

.category{
    font-weight: bold;
}

.addBlock{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    border-radius: 8px;
    background-color: #37bbe3;
    width: 250px;
    height: 200px;
    /*position: center;*/
}

.select_Window {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    border-radius: 8px;
    background-color: #37bbe3;
    width: 250px;
    height: 200px;

}


.windowButton{
    /*margin-top: 10px;*/
    /*width: 120px;*/
    /*padding: 3px;*/
    /*border: none;*/
    /*border-radius: 9999em;*/
    /*background-color: white;*/

    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
}

.windowButton:hover{
    box-shadow: none;
    transform: none;
    background: whitesmoke;
}


.iconEdit {
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.icon_Add {

    width: 15px;
    height: 15px;
    margin-left: 5px;
    padding-right: 5px;
}

.iconEdit:hover{
    transform: translateY(-5px);

}

.block_AddIcon {

    /*margin: 5px auto;*/
    /*padding: 3px;*/
    /*width: 130px;*/
    /*background-color: white;*/
    /*cursor: pointer;*/
    /*display: flex;*/
    /*border-radius: 5px;*/

    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
}
.block_AddIcon:hover{
    box-shadow: none;
    transform: none;
    background: whitesmoke;
}

.test{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
   padding-top: 20px;
    justify-content: space-around;
}

.test > div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #e8e7e7;
    border-radius: 8px;
    width: 300px;
    height: 100%
}

.trello_block_name{
    color: #0093E9;
    text-align: center;
}

.task_block_child{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 255.5px;
}

input {
    font-family: inherit;
    line-height: inherit;
    font-size: 1em;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
}

.editMod_box{
    width: 100vw;
    height: 1000px;
    left: 0;
    top: 0;
    background: rgba(31, 25, 25, 0.356);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
