.container {
    display: flex;
    border: 1px solid red;
    flex-direction: column;

}

.task_block {

    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.App {
    display: flex;
}

.select_Window {
    background-color: darkgray;
    width: 400px;
    height: 400px;
    position: absolute;


}